:root {
    --h1-font-size: clamp(1.125rem, 0.5987rem + 2.6316vw, 1.75rem); /* 18px para 28px */
    --h2-font-size: clamp(0.75rem, 0.5395rem + 1.0526vw, 1rem); /* 12px para 16px */
    --img-size: clamp(12rem, 1.0526rem + 54.7368vw, 25rem); /* 192px para 400px */
    --font-size-button: clamp(0.75rem, 0.5395rem + 1.0526vw, 1rem); /* 12px para 16px */
    --container-padding-inline: clamp(0.75rem, -0.3026rem + 5.2632vw, 2rem); /* 12px para 32px */
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .05rem;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #000;
    color: #FFF;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-image: url("./assets/img/index/bg-foto-motor.png");
    background-size: cover;
    /* background-position: 62% center; */
    background-position: 62% top;
    background-repeat: no-repeat;
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
}

.container {
    margin: 0 auto;
    max-width: 598px;
    margin-block: 60px 60px;
    margin-inline: 25px;
    padding-block: 36px;
    padding-inline: var(--container-padding-inline);
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 12px;
    font-weight: 900;
    font-size: 0.875rem;
    color: #FFF;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 900;
    color: #FFF;
    margin-block: 20px 16px;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 900;
    color: #818181;
    text-align: center;
    margin-block-end: 33px;
    max-width: 334px;
}

img {
    max-width: 100%;
    width: var(--img-size);
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 421px;
    margin: 0 auto;
}

label {
    font-size: 1rem;
    font-weight: 900;
    color: #FFF;
}

input {
    padding: 15px 8px;
    border-radius: 10px;
}

input::placeholder {
    color: #818181;
    font-weight: 900;
    font-size: 0.75rem;
    line-height: 1.5;
}

input[type="email"], input[type="password"] {
    font-size: 1rem;
    border: 1px solid #818181;
    background-color: transparent;
    color: #D5CCBD;
    font-weight: 700;
    transition: border-color 0.15s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #2651A6;
    outline: none;
}

input[type="submit"] {
    background-color: rgba(224, 19, 19, 0.502);
    color: #FFF;
    font-weight: 700;
    font-size: var(--font-size-button);
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

input[type="submit"]:hover {
    background-color: #E01313;
}