.container-titulo-btn-novo-cliente {
    display: flex;
    justify-content: space-between;
    margin-block: 38px 52px;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.titulo,
.sub-titulo {
    font-weight: 900;
}

.titulo {
    color: #666666;
    font-size: 2.625rem;
}

.sub-titulo {
    font-size: 1.125rem;
}

.btn-novo-cliente {
    padding: 16px 14px;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    cursor: pointer;
}

#busca {
    background-color: transparent;
    border: 1px solid #666;
    font-weight: 900;
    padding: 19px 12px 19px 56px;
    line-height: 1.20;
    width: 100%;
    color: #FFF;
    font-size: 1rem;
    border-radius: 10px;
    outline: none;
    background-image: url("../img/clientes/pesquisar-icon.svg");
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 18px 18px;
    transition: border-color 0.15s ease;
}

#busca::placeholder {
    color: #999;
    font-weight: 900;
}

#busca:focus {
    border-color: #2651A6;
}

#busca::-webkit-search-cancel-button,
#busca::-webkit-search-decoration,
#busca::-webkit-search-results-button,
#busca::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.cartoes {
    margin-block-start: 52px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.cartao {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 34px 32px;
    display: flex;
    flex-direction: column;
    max-width: 624px;
    width: 100%;
}

.cartao-container-cliente {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #818181;
}

.cartao-editar-excluir {
    display: flex;
    gap: 12px;
}

.cartao-nome {
    font-size: 1rem;
    font-weight: 900;
    color: #000;
}

.cartao-cpf {
    font-size: 0.75rem;
    font-weight: 900;
    color: #666666;
    margin-block: 4px 32px;
}

.cartao-tel {
    font-size: 0.75rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 6px;
}

.cartao-email {
    font-size: 0.75rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-block: 4px 32px;
}

.cartao-veiculos {
    font-size: 1rem;
    font-weight: 900;
    color: #000;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-block: 16px 12px;
}

.cartao-veiculo {
    min-width: 163px;
    padding: 12px;
    background-color: #818181;
    border-radius: 10px;
}

.container-veiculos {
    display: flex;
    gap: 10px;
}

.cartao-nome-veiculo {
    font-size: 0.75rem;
    font-weight: 700;
    color: #000;
    margin-block: 4px;
}

.cartao-placa {
    font-size: 0.75rem;
    font-weight: 400;
    color: #000;
}