:root {
    --border-radius: 10px;
    --texto-do-placeholder-da-pesquisa: clamp(0.5rem, -0.3889rem + 4.4444vw, 1rem);
}

.container-titulo-btn-novo-estoque {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 34px 44px;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-btn {
    margin: 0 auto;
}

.titulo,
.sub-titulo {
    font-weight: 900;
}

.titulo {
    color: #666666;
    font-size: 1.75rem;
}

.sub-titulo {
    font-size: 1rem;
}

.btn-novo-estoque {
    font-size: 0.75rem;
    padding: 16px 14px;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 900;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    cursor: pointer;
}

.btn-novo-estoque:hover {
    background-color: #187026;
}

.container-dashboard-status-estoque {
    display: flex;
    flex-flow: wrap;
    gap: 32px;
}

.status-estoque-atencao-container,
.status-estoque-criticos-container,
.status-estoque-pizza-container,
.status-estoque-qtd-total-container {
    background-color: #D9D9D9;
    border-radius: var(--border-radius);
    padding: 18px 36px;
}

.status-estoque-titulo {
    font-weight: 900;
    font-size: 1.25rem;
    color: #666666;
}

.status-estoque-atencao-dashboard,
.status-estoque-criticos-dashboard,
.status-estoque-pizza-dashboard,
.status-estoque-qtd-total-dashboard {
    margin-block-start: 12px;
    display: flex;
    align-items: center;
}

.status-estoque-atencao-dashboard,
.status-estoque-criticos-dashboard,
.status-estoque-qtd-total-dashboard {
    gap: 8px;
}

.status-estoque-pizza-dashboard {
    gap: 30px;
}

.status-estoque-atencao-container {
    max-width: 260px;
}

.status-estoque-criticos-container {
    max-width: 220px;
}

.status-estoque-pizza-container {
    max-width: 270px;
}

.status-estoque-qtd-total-container {
    max-width: 260px;
}

#estoque-atencao-estatistica,
#estoque-criticos-estatistica,
#estoque-qtd-total,
#estoque-qtd-total-pecas {
    color: #000;
    font-size: 1.125rem;
    font-weight: 900;
}

#grafico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px; 
    height: 61px;
    overflow: hidden;
}

.status-estoque-legendas-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-pizza-legenda-cor {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.status-pizza-legenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.625rem;
    font-weight: 900;
    color: #000;
    gap: 12px;
}

.legenda-cor-verde,
.legenda-cor-amarela,
.legenda-cor-vermelha {
    width: 22px;
    height: 12px;
}

.legenda-cor-amarela {
    background-color: #F9B11F;
}

.legenda-cor-verde {
    background-color: #007D00;
}

.legenda-cor-vermelha {
    background-color: #E01313;
}

#busca {
    background-color: transparent;
    border: 1px solid #666;
    font-weight: 900;
    padding: 22px 12px 22px 42px;
    line-height: 1.20;
    width: 100%;
    color: #FFF;
    font-size: 0.75rem;
    border-radius: var(--border-radius);
    outline: none;
    background-image: url("../img/servicos/pesquisar-icon.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    /* background-size: 18px 18px; */
    transition: border-color 0.15s ease;
}

#busca::placeholder {
    color: #999;
    font-weight: 400;
    font-size: var(--texto-do-placeholder-da-pesquisa);
}

#busca:focus {
    border-color: #2651A6;
}

#busca::-webkit-search-cancel-button,
#busca::-webkit-search-decoration,
#busca::-webkit-search-results-button,
#busca::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.cartoes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 24px;
    margin-block: 52px;
}

.cartao {
    background-color: #D9D9D9;
    color: #000;
    border-radius: var(--border-radius);
    padding: 20px;
}

.cartao-header {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-block-end: 23px;
}

.cartao-main {
    display: flex;
    gap: 65px;
    border-bottom: 2px solid #000;
    padding-block-end: 33px;
    margin-block-end: 10px;
}

.cartao-titulo {
    flex-basis: 270px;
    font-size: 1rem;
    font-weight: 900;
}

.cartao-codigo-peca {
    flex: 2;
    font-size: 1rem;
    font-weight: 900;
    color: #818181;
}

.cartao-status-peca-normal {
    font-weight: 700;
    color: #337D1C;
    background-color: rgba(51, 125, 28, 0.2);
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 0.825rem;
}

.cartao-status-peca-atencao {
    font-weight: 700;
    /* color: #F9B11F; */
    color: #C38913;
    background-color: rgba(249, 176, 31, 0.2);
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 0.825rem;
}

.cartao-status-peca-critico {
    font-weight: 700;
    color: #E01313;
    background-color: rgba(224, 19, 19, 0.2);
    padding: 10px;
    border-radius: var(--border-radius);
    font-size: 0.825rem;
}

.cartao-botoes {
    display: flex;
    align-items: center;
    gap: 12px;
}

.cartao-dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cartao-dado-label {
    font-size: 0.75rem;
}

.cartao-dado {
    font-size: 1.125rem;
    font-weight: 900;
}

/* modal */

body.modal-open {
    overflow: hidden;
}

body.modal-close {
    overflow: none;
}

.modal-nova-peca {
  display: none; /* janela modal oculta por padrão */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  padding-inline: 12px;
  padding-block: 12px;
}

.modal {
    position: relative;
    box-sizing: border-box;
    background-color: #E5E5E5;
    padding: 16px;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 682px;
    margin: auto;
}

.modal-titulo,
.modal-sub-titulo {
    font-weight: 900;
}

.modal-titulo {
    font-size: 1.75rem;
    color: #000;
    margin-block-end: 10px;
}

.modal-sub-titulo {
    color: #666666;
}

.modal-container-form {
    display: flex;
    flex-direction: column;
    margin-block-start: 32px;
    gap: 12px;
}

.modal-novo-estoque-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal-qtd-peca-nova-qtc-minima-container {
    display: flex;
    gap: 26px;
}

.max-width {
    max-width: 170px;
}

.modal-novo-estoque-label {
    font-weight: 700;
    color: #000;
}

.modal-novo-estoque-input-text,
.modal-novo-estoque-input-number {
    font-family: 'inter', sans-serif;
    width: 100%;
    padding: 14px;
    border-radius: var(--border-radius);
    border: 2px solid #666;
    outline: none;
    font-size: 1rem;
    color: #000;
    background-color: #FFF;
    resize: vertical;
}

.modal-novo-estoque-input-text::placeholder,
.modal-novo-estoque-input-number::placeholder {
    color: #9d9c9c;
}

#modal-valor-unitario {
  text-align: right;
}


.modal-botao-cancelar {
    padding: 12px 18px;
    font-size: 0.825rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    font-family: "Inter", sans-serif;
    background-color: #D1D1D1;
}

.modal-botao-cancelar:hover {
    background-color: #BDBDBD;
}

.modal-botoes-container {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    margin-top: 36px;
}

.modal-botao-salvar {
    padding: 12px 18px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 600;
    font-size: 0.825rem;
    font-family: 'inter', sans-serif;
}

.modal-botao-salvar:hover {
    background-color: #187026;
}

/* fim modal */

@media screen and (min-width: 50rem) /* 800px */ {
    .container-titulo {
        gap: 12px;
    }
    
    .titulo {
        font-size: 2.625rem;
    }

    .sub-titulo {
        font-size: 1.125rem;
    }

    .container-btn {
        margin: 0;
    }

    .container-titulo-btn-novo-estoque {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-block-start: 38px;
        margin-block-end: 30px;
    }

    .container-dashboard-status-estoque {
        flex-flow: nowrap;
    }

    .container-dashboard-status-estoque {
        justify-content: flex-start;
    }

    #busca {
        padding: 19px 12px 19px 56px;
        background-size: 18px 18px;
        font-size: 1rem;
        background-position: 18px center;
        margin-block-start: 58px;
    }

    #busca::placeholder {
        color: #999;
        font-weight: 900;
    }

    .modal-nova-peca {
        padding-inline: 30px;
        padding-block: 30px;
    }

    .modal {
        padding: 36px;
    }
}