*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .05rem;
}

.oiwujmnh {
    max-width: 100%;
}

.nav-toggle-btn {
    display: none;
}

.lkju82567 {
    color: #FFF;
    background-color: #000000;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-inline: 60px;
}

.con1238 {
    margin: 0 auto;
    max-width: 79.5rem; /* 1272px */
}

.gtrewq {
    display: flex;
    gap: 28px;
    align-items: center;
    padding-block: 58px 45px;
    border-bottom: 2px solid #818181;
}

.nav-a123asjqu {
    display: flex;
    gap: 28px;
}

.gtrewq a {
    background-color: rgba(224, 19, 19, 0.5);
    text-decoration: none;
    color: #ffffff;
    padding: 16px 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    font-size: 0.75rem; /* 12px */
}

.oiwujmnh {
    height: 48px;
}

.icon-qyshansd {
    height: 1rem;
}

@media screen and (max-width: 50rem) {

    .lkju82567 {
        margin-inline: 12px;
    }

    .nav-a123asjqu {
        gap: 8px;
    }

    .gtrewq {
        justify-content: center;
        flex-direction: column;
        padding-block: 28px;
    }

    .oiwujmnh {
        height: 58px;
    }

    .nav-a123asjqu {
        flex-direction: column;
        gap: 16px;
    }

    .nav {
        position: absolute;
        visibility: hidden;
        height: 0;
    }

    .nav--visible {
        visibility: visible;
        position: relative;
        height: auto;
    }

    .nav-toggle-btn {
        display: block;
        cursor: pointer;
        border: 0;
        width: 3em;
        height: 3em;
        padding: 0;
        border-radius: 50%;
        background: rgba(224, 19, 19, 0.5);
        color: #FFF;
        transition: opacity 250ms ease;
        position: absolute;
        right: 33px;
        top: 33px;
    }

    .nav-toggle-btn:focus,
    .nav-toggle-btn:hover {
        opacity: .75;
    }

    .hamburger {
        width: 50%;
        position: relative;
    }

    .hamburger,
    .hamburger::before,
    .hamburger::after {
        display: block;
        margin: 0 auto;
        height: 3px;
        background: #FFF;
    }

    .hamburger::before,
    .hamburger::after {
        content: '';
        width: 100%;
    }

    .hamburger::before {
        transform: translateY(-6px);
    }

    .hamburger::after {
        transform: translateY(3px);
    }
}