:root {
    --texto-do-placeholder-da-pesquisa: clamp(0.5rem, -0.3889rem + 4.4444vw, 1rem);
}

.container-titulo-btn-novo-servico {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 34px 44px;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-btn {
    margin: 0 auto;
}

.titulo,
.sub-titulo {
    font-weight: 900;
}

.titulo {
    color: #666666;
    font-size: 1.75rem;
}

.sub-titulo {
    font-size: 1rem;
}

.btn-novo-servico {
    font-size: 0.75rem;
    padding: 16px 14px;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    cursor: pointer;
}

#busca {
    background-color: transparent;
    border: 1px solid #666;
    font-weight: 900;
    padding: 22px 12px 22px 34px;
    line-height: 1.20;
    width: 100%;
    color: #FFF;
    font-size: 0.75rem;
    border-radius: 10px;
    outline: none;
    background-image: url("../img/servicos/pesquisar-icon.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    /* background-size: 18px 18px; */
    transition: border-color 0.15s ease;
}

#busca::placeholder {
    color: #999;
    font-weight: 400;
    font-size: var(--texto-do-placeholder-da-pesquisa);
}

#busca:focus {
    border-color: #2651A6;
}

#busca::-webkit-search-cancel-button,
#busca::-webkit-search-decoration,
#busca::-webkit-search-results-button,
#busca::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.cartoes {
    display: flex;
    flex-direction: column;
}

.cartao {
    margin-block: 32px;
    border-radius: 10px;
    padding: 20px 12px;
    background-color: #D9D9D9;
}

.cartao-componente-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cartao-componentes-preco {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* .cartao-componente-nome, .cartao-componente-preco, .cartao-ordem-servico {
    font-size: 1rem;
} */

.cartao-componente-nome, .cartao-componente-preco {
    font-size: 1.2rem;
    font-weight: 900;
    color: #000;
}

.cartao-dados-cliente-container {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cartao-pedido-container, .cartao-execucao-container {
    margin-block-end: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cartao-pecas-utilizadas-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cartao-status,
.cartao-nome-cliente, 
.cartao-nome-carro, 
.cartao-data, 
.cartao-pedido-label, 
.cartao-execucao-label,
.cartao-pecas-utilizadas-label,
.cartao-pedido,
.cartao-execucao {
    font-weight: 700;
}

.cartao-status {
    font-size: 0.7rem;
    color: #337D1C;
    background-color: rgba(51, 125, 28, 0.2);
    padding: 7px 8px;
    border-radius: 10px;
}

.cartao-ordem-servico {
    font-weight: 900;
}

.cartao-ordem-servico,
.cartao-pedido,
.cartao-execucao {
    color: #666;
}

.cartao-nome-cliente, 
.cartao-nome-carro, 
.cartao-data, 
.cartao-pedido-label, 
.cartao-execucao-label,
.cartao-pecas-utilizadas-label {
    font-weight: 700;
    color: #000;
}

.cartao-nome-cliente, .cartao-nome-carro, .cartao-data  {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cartao-container-peca {
    display: flex;
    gap: 16px;
}

.cartao-peca {
    font-size: .75rem;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: 10px;
    background-color: rgba(129, 129, 129, 0.5);
    color: #000;
}

.linha-separadora {
    height: 2px;
    background-color:#666666;
    margin-block: 20px;
}

.cartao-status-select {
    width: 180px;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 12px 12px;
    border-radius: 10px;
    border: 1px solid rgba(102, 102, 102, 0.5);
    background-color: rgba(129, 129, 129, 0.2);
    color: #000;
    cursor: pointer;
    padding-right: 62px; /* afastando o texto da seta */
}

/* Setinha do dropdown personalizada */
.dropdown-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/servicos/arrow-dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px 12px;
}