.container-titulo-btn-novo-servico {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 34px 44px;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-btn {
    margin: 0 auto;
}

.titulo,
.sub-titulo {
    font-weight: 900;
}

.titulo {
    color: #666666;
    font-size: 1.75rem;
}

.sub-titulo {
    font-size: 1rem;
}

.btn-novo-servico {
    font-size: 0.75rem;
    padding: 16px 14px;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    cursor: pointer;
}

#busca {
    background-color: transparent;
    border: 1px solid #666;
    font-weight: 900;
    padding: 22px 12px 22px 34px;
    line-height: 1.20;
    width: 100%;
    color: #FFF;
    font-size: 0.75rem;
    border-radius: 10px;
    outline: none;
    background-image: url("../img/servicos/pesquisar-icon.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    /* background-size: 18px 18px; */
    transition: border-color 0.15s ease;
}

#busca::placeholder {
    color: #999;
    font-weight: 400;
    font-size: 0.5rem;
}

#busca:focus {
    border-color: #2651A6;
}

#busca::-webkit-search-cancel-button,
#busca::-webkit-search-decoration,
#busca::-webkit-search-results-button,
#busca::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}