:root {
    --border-radius: 10px;
    --texto-do-placeholder-da-pesquisa: clamp(0.5rem, -0.3889rem + 4.4444vw, 1rem);
    --tamanho-da-fonte-do-toast: clamp(0.625rem, 0.375rem + 1.25vw, 1rem); /* 13.5px - 16px */
    --pecas-utilizadas-small-label: clamp(0.625rem, 0.4917rem + 0.6667vw, 0.825rem); /* 10px - 13.2px */
}

.container-titulo-btn-novo-servico {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-block: 34px 44px;
}

.container-titulo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-btn {
    margin: 0 auto;
}

.titulo,
.sub-titulo {
    font-weight: 900;
}

.titulo {
    color: #666666;
    font-size: 1.75rem;
}

.sub-titulo {
    font-size: 1rem;
}

.btn-novo-servico {
    font-size: 0.75rem;
    padding: 16px 14px;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 900;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0;
    cursor: pointer;
}

#busca {
    background-color: transparent;
    border: 1px solid #666;
    font-weight: 900;
    padding: 22px 12px 22px 34px;
    line-height: 1.20;
    width: 100%;
    color: #FFF;
    font-size: 0.75rem;
    border-radius: var(--border-radius);
    outline: none;
    background-image: url("../img/servicos/pesquisar-icon.svg");
    background-repeat: no-repeat;
    background-position: 12px center;
    /* background-size: 18px 18px; */
    transition: border-color 0.15s ease;
}

#busca::placeholder {
    color: #999;
    font-weight: 400;
    font-size: var(--texto-do-placeholder-da-pesquisa);
}

#busca:focus {
    border-color: #2651A6;
}

#busca::-webkit-search-cancel-button,
#busca::-webkit-search-decoration,
#busca::-webkit-search-results-button,
#busca::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.cartoes {
    display: flex;
    flex-direction: column;
}

.cartao {
    margin-block: 32px;
    border-radius: var(--border-radius);
    padding: 20px 12px;
    background-color: #D9D9D9;
}

.cartao-componente-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cartao-componentes-preco {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cartao-componente-nome, .cartao-componente-preco {
    font-size: 1.2rem;
    font-weight: 900;
    color: #000;
}

.cartao-dados-cliente-container {
    margin-block: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cartao-pedido-container, .cartao-execucao-container {
    margin-block-end: 18px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cartao-pecas-utilizadas-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cartao-status,
.cartao-nome-cliente, 
.cartao-nome-carro, 
.cartao-data, 
.cartao-pedido-label, 
.cartao-execucao-label,
.cartao-pecas-utilizadas-label,
.cartao-pedido,
.cartao-execucao {
    font-weight: 700;
}

.cartao-status-andamento {
    font-size: 0.7rem;
    color: #2651A6;
    background-color: rgba(38, 81, 166, 0.2);
    padding: 7px 8px;
    border-radius: var(--border-radius);
}

.cartao-status-concluido {
    font-size: 0.7rem;
    color: #337D1C;
    background-color: rgba(51, 125, 28, 0.2);
    padding: 7px 8px;
    border-radius: var(--border-radius);
}

.cartao-status-entregue {
    font-size: 0.7rem;
    color: #DE5500;
    background-color: rgba(222, 85, 0, 0.2);
    padding: 7px 8px;
    border-radius: var(--border-radius);
}

.cartao-ordem-servico {
    font-weight: 900;
}

.cartao-ordem-servico,
.cartao-pedido,
.cartao-execucao {
    color: #666;
}

.cartao-nome-cliente, 
.cartao-nome-carro, 
.cartao-data, 
.cartao-pedido-label, 
.cartao-execucao-label,
.cartao-pecas-utilizadas-label {
    font-weight: 700;
    color: #000;
}

.cartao-nome-cliente, .cartao-nome-carro, .cartao-data  {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cartao-container-peca {
    display: flex;
    gap: 16px;
}

.cartao-peca {
    font-size: .75rem;
    font-weight: 600;
    padding: 6px 16px;
    border-radius: var(--border-radius);
    background-color: rgba(129, 129, 129, 0.5);
    color: #000;
}

.linha-separadora {
    height: 2px;
    background-color:#666666;
    margin-block: 20px;
}

.cartao-status-select {
    width: 180px;
}

.novo-servico-select {
    width: 100%;
}

.cartao-status-select,
.novo-servico-select {
    font-size: 0.825rem;
    font-weight: 900;
    padding: 8px 6px;
    border-radius: var(--border-radius);
    border: 2px solid #666666;
    background-color: transparent;   /* deixa fundo transparente */
    color: #818181;
    cursor: pointer;
    padding-right: 40px;
}

/* Setinha do dropdown personalizada */
.dropdown-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../img/servicos/arrow-dropdown.svg");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px 12px;
}

/* Mensagem de status */
.toast-status {
    position: fixed;
    bottom: 20px;
    right: 0px;
    transform: translateX(350px) translateY(0px);
    background-color: #BEBEBE;
    color: #000;
    padding: 14px 18px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--tamanho-da-fonte-do-toast);
    font-weight: 400;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    opacity: 1;
    transition: all 0.25s ease;
    z-index: 9999;
}

.toast-icone {
    width: 22px;
    height: 22px;
    display: flex;
}

/* Janela Modal */

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.modal {
    position: relative;
    box-sizing: border-box;
    background-color: #D9D9D9;
    padding: 16px;
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 682px;
    margin-inline: 12px;
}

.fecha-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-titulo,
.modal-sub-titulo {
    font-weight: 900;
}

.modal-titulo {
    font-size: 1.75rem;
    color: #000;
    margin-block-end: 10px;
}

.modal-sub-titulo {
    color: #666666;
}

.modal-container-form {
    display: flex;
    flex-direction: column;
    margin-block-start: 32px;
    gap: 12px;
}

.modal-novo-servico-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.novo-servico-label {
    font-weight: 700;
    color: #000;
}

.novo-servico-descricao-pedido,
.novo-servico-descricao-execucao {
    font-family: "inter", sans-serif;
    width: 100%;
    padding: 12px;
    border-radius: var(--border-radius);
    border: 2px solid #666666;
    background-color: transparent;   /* deixa fundo transparente */
    color: #818181;
    font-size: 0.825rem;
    font-weight: 700;
    resize: vertical;
}

.novo-servico-pecas-utilizadas-small-label {
    font-size: var(--pecas-utilizadas-small-label);
    color: #818181;
}

.valor-total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.825rem;
    color: #000;
    background-color: rgba(129, 129, 129, 0.5);
    padding: 8px 7px;
    border-radius: var(--border-radius);
}

#valor-total {
    font-size: 1rem;
    font-weight: 900;
}

.close-btn-container {
    display: flex;
    justify-content: flex-end;
}

.close-btn {
    margin-top: 36px;
    padding: 12px 16px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: #337D1C;
    color: #FFF;
    font-weight: 900;
    font-size: 0.825rem;
}

@media screen and (min-width: 50rem) /* 800px */ {
    .container-btn {
        margin: 0;
    }
    .container-titulo-btn-novo-servico {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .modal {
        margin-inline: 60px;
    }
}